<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Ticket Tracker Application</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>


<body>
	<nav class="navbar navbar-expand-md bg-dark navbar-dark">
		<!-- Brand -->
		<a class="navbar-brand" href="#">Ticket Tracker Application</a>


		<!-- Toggler/collapsibe Button -->
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#collapsibleNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>


		<!-- Navbar links -->
		<div class="collapse navbar-collapse" id="collapsibleNavbar">
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link"
					th:href="@{/admin/tickets}">Employee Management</a></li>
			</ul>
		</div>
	</nav>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item"><a class="nav-link active"
						aria-current="page" th:href="@{/admin/tickets}">Tickets</a></li>
					<li class="nav-item"><a class="nav-link active"
						aria-current="page" th:href="@{/admin/tickets/newTicket}">New
							Ticket</a></li>
					<li class="nav-item"><a class="nav-link active"
						aria-current="page" th:href="@{/admin/tickets/comments}">Comments
							</a></li>
					<li class="nav-item"><a class="nav-link active"
						aria-current="page" th:href="@{/logout}">Logout
							</a></li>
	<div class="container">
		<div class="row">
			<h1>List of Tickets</h1>
		</div>
		
		<div class= "row">
		     <div class = "col-md-5">
		        <div class = "form-group">
		           <form class ="form-inline" th:action = "@{/admin/tickets/search}">
		                <div class = "input-group">
		                    <input type = "text" class="form-control" name = "query" />
		                    <span class="input-group-btn">
		                       <button  class = "btn btn-primary" type = "submit">Search </button>
		                    </span>
		                 </div>
		           </form>
		          
		        </div>
		       
		     </div>
		</div>
		<br/>
		<table class="table table-striped table-hover table-bordered">
			<thead class="table-dark">
				<tr>
					<th style="width: 10%">Ticket Id</th>
					<th style="width: 20%">Ticket Title</th>
					<th style="width: 30%">Ticket Short Description</th>
					<th style="width: 20%">Ticket Created on</th>
					<th style="width: 20%">Actions</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="ticket, ticketStat : ${tickets}">
					<td th:text="${ticketStat.count}">1</td>
					<td th:text="${ticket.title}">ticket title</td>
					<td th:text="${ticket.shortDescription}">ticket description</td>
					<td th:text="${ticket.createdOn}"></td>
					<td>
					    <a th:href="@{/admin/tickets/{ticketId}/edit(ticketId = ${ticket.id})}" class = "btn btn-primary">Edit</a>
					    <a th:href="@{/admin/tickets/{ticketId}/delete(ticketId = ${ticket.id})}" class = "btn btn-danger">Delete</a>
			            <a th:href="@{/admin/tickets/{ticketUrl}/view(ticketUrl = ${ticket.url})}" class = "btn btn-info">View</a>
					
					</td>
				</tr>

			</tbody>
		</table>
	</div>
</body>
</html>